<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ExcusesGenerator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9DF96EF61D6C71D000911843</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DF96F0A1D6C71D100911843</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DF96F151D6C71D100911843</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
